<!-- registrar-constancia.page.html -->
<app-header [showMenu]="true" title="Registrar Constancia"></app-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nueva Constancia</ion-card-title>
          <ion-card-subtitle>Complete todos los campos</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Nombres</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
            <ion-note slot="error" *ngIf="form.get('nombre').touched">
              {{ getErrorMessage('nombre') }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input formControlName="apellidos" type="text"></ion-input>
            <ion-note slot="error" *ngIf="form.get('apellidos').touched">
              {{ getErrorMessage('apellidos') }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Documento</ion-label>
            <ion-input formControlName="documento" type="text"></ion-input>
            <ion-note slot="error" *ngIf="form.get('documento').touched">
              {{ getErrorMessage('documento') }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <ion-note slot="error" *ngIf="form.get('email').touched">
              {{ getErrorMessage('email') }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Tipo de Constancia</ion-label>
            <ion-select formControlName="tipo">
              <ion-select-option
                *ngFor="let tipo of tiposConstancia"
                [value]="tipo.value"
              >
                {{ tipo.label }}
              </ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="form.get('tipo').touched">
              {{ getErrorMessage('tipo') }}
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Motivo</ion-label>
            <ion-textarea
              formControlName="motivo"
              rows="3"
              placeholder="Describa el motivo de la solicitud"
            ></ion-textarea>
            <ion-note slot="error" *ngIf="form.get('motivo').touched">
              {{ getErrorMessage('motivo') }}
            </ion-note>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            class="ion-margin-top"
            [disabled]="form.invalid || loading"
          >
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Registrar Constancia
          </ion-button>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
